Repository hpxmlwg/hpxml, pull requests merged in 2018-08, with the labels that each got.

#106 Adding FuelTypesAvailable
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, schemas

#108 Additional appliance fields
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, schemas

#109 Clarify dhw distribution fields
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, schemas

#112 Add DWHR extension element
  schemas/BaseElements.xsd
Labels: enhancement, schemas

#114 Additional vent fan types
  schemas/HPXMLDataTypes.xsd
Labels: energy rating index, enhancement, schemas

#120 UniformEnergyFactor
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, schemas

#121 Adds Slab/Thickness
  schemas/BaseElements.xsd
Labels: enhancement, schemas

#122 WMO Station Number
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, schemas

#129 Adds solar absorptance and emittance for non-foundation walls/roofs
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas

#131 Add 'medium dark' to WallAndRoofColor
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas

#133 Add 2x3 stud size enumeration
  schemas/HPXMLDataTypes.xsd
Labels: schemas
