Repository hpxmlwg/hpxml, pull requests merged in 2019-09, with the labels that each got.

#187 New DuctLocation choices
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, merge, schemas

#171 Adds WaterHeaterInsulation fields
  schemas/BaseElements.xsd
Labels: enhancement, merge, schemas, weatherization

#181 Reworking HPXML's Enclosure
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: breaking change, discussion needed, energy rating index, enhancement, home energy score, merge, schemas, weatherization

#193 Adding pipe diameter and some other elements to hydronic systems
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: discussion needed, enhancement, merge

#189 Window/Skylight Interior Shading Fraction
  schemas/BaseElements.xsd
Labels: breaking change, energy rating index, enhancement, merge, schemas

#188 Allow insulation location to be layer-specific
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: breaking change, enhancement, merge, schemas

#163 Presence of Insulation
  schemas/BaseElements.xsd
Labels: enhancement, home energy score, merge, schemas, weatherization
