Repository hpxmlwg/hpxml, pull requests merged in 2019-10, with the labels that each got.

#196 Door area documentation
  schemas/BaseElements.xsd
Labels: merge, schemas

#191 Adding customer comments element
  schemas/BaseElements.xsd
Labels: discussion needed, enhancement, merge, schemas

#185 Adds SolarThermalSystem performance elements
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, merge, schemas

#182 Update HPXML version to 3.0
  schemas/BaseElements.xsd
  schemas/HPXML.xsd
  schemas/HPXMLDataTypes.xsd
Labels: merge, schemas

#197 Fixing project ids
  schemas/BaseElements.xsd
Labels: breaking change, merge, schemas

#203 Additional AdjacentTo enumerations
  schemas/HPXMLDataTypes.xsd
Labels: energy rating index, enhancement, merge, schemas

#200 DHW Controllers
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: merge

#66 Green Building Verification from RESO
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: breaking change, merge

#192 Adding house batteries
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: discussion needed, enhancement, merge, schemas

#207 Clarify PV inverter efficiency value
  schemas/BaseElements.xsd
Labels: breaking change, schemas

#206 Percent duct leakage
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, home energy score, schemas

#202 Window sub-components
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: breaking change, discussion needed

#194 Adding dataSource attribute
  schemas/BaseElements.xsd
  schemas/HPXML.xsd
  schemas/HPXMLDataTypes.xsd
Labels: discussion needed, enhancement
