Repository hpxmlwg/hpxml, pull requests merged in 2021-06, with the labels that each got.

#265 DataTypes cleanup
  schemas/HPXMLDataTypes.xsd
Labels: merge, schemas

#261 Adds wood stud wall framing type field
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, merge, schemas, weatherization

#259 Adds storm window material field
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, merge, schemas, weatherization

#258 Removes outdated reference to HPXML wiki
  schemas/BaseElements.xsd
Labels: docs, merge, schemas

#257 Requires AssemblyEffectiveRValue to be > 0
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: merge, schemas

#254 Add CEER to cooling efficiency units
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, merge, schemas

#248 Adds PerformanceClass element for fenestration
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, merge, schemas

#246 DSE values as fractions
  schemas/BaseElements.xsd
Labels: discussion needed, docs, merge, schemas

#234 Radiant Barrier grade
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, merge, schemas

#230 Adobe wall type
  schemas/BaseElements.xsd
Labels: enhancement, merge, schemas, weatherization

#227 RimJoist Siding/Color
  schemas/BaseElements.xsd
Labels: enhancement, merge, schemas

#226 PerformanceAdjustment clarification
  schemas/BaseElements.xsd
Labels: docs, merge, schemas

#225 Adds VentilationFan/Quantity
  schemas/BaseElements.xsd
Labels: enhancement, merge, schemas

#224 Adds an extension to the WaterHeating element
  schemas/BaseElements.xsd
Labels: merge, schemas

#223 Adds Dishwasher/ClothesWasher label fields
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, merge, schemas

#220 Adds units to CollectorRatedOpticalEfficiency
  schemas/BaseElements.xsd
Labels: docs, merge, schemas

#214 Indirect water heater standby loss
  schemas/BaseElements.xsd
Labels: energy rating index, enhancement, merge, schemas
