Repository hpxmlwg/hpxml, pull requests merged in 2021-12, with the labels that each got.

#260 Adds a window type field
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge

#228 Adds FuelLoads element (similar to PlugLoads)
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge

#216 WithinInfiltrationVolume element for Attics/Foundations
  schemas/BaseElements.xsd
Labels: enhancement, schemas, merge, energy rating index

#208 Additional Dehumidifier properties
  schemas/BaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge, energy rating index

#282 Renames BaseElements.xsd to HPXMLBaseElements.xsd.
  schemas/HPXML.xsd
  schemas/HPXMLBaseElements.xsd
Labels: schemas, merge
