Repository hpxmlwg/hpxml, pull requests merged in 2022-11, with the labels that each got.

#332 Allow additional floor types
  examples/audit.xml
  examples/bpi2101.xml
  examples/upgrade.xml
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, breaking change, merge

#348 New `CFISControls`
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge

#350 Adds a `SystemIdentifier` element for Ducts
  examples/audit.xml
  examples/bpi2101.xml
  examples/upgrade.xml
  schemas/HPXMLBaseElements.xsd
Labels: schemas, breaking change, merge

#351 Adds `FrameFloor/FloorOrCeiling` element
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge
