Repository hpxmlwg/hpxml, pull requests merged in 2023-08, with the labels that each got.

#384 Add Walkout basement element
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
Labels: enhancement, schemas, merge

#360 Add BellyAndWing foundation type and ManufacturedHomeSections
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: schemas, discussion needed, merge

#217 Additional enumerations for SFA/MF
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge, energy rating index
