Repository hpxmlwg/hpxml, pull requests merged in 2023-09, with the labels that each got.

#389 Add `PlugLoad/Location` and `FuelLoad/Location` choices
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge

#231 Generalize space heater element
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
Labels: enhancement, schemas, breaking change, merge, weatherization

#387 Fix case of CEE enumeration
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLDataTypes.xsd
Labels: schemas, breaking change, merge

#221 Replace `Operable` with `FractionOperable` for Windows/Skylights
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
Labels: enhancement, schemas, breaking change, merge

#229 Add PermanentSpa and PortableSpa
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, breaking change, merge

#240 SFA/MF Systems
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge, energy rating index

#391 New `DuctShape` element
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, merge

#393 Allow radiant barriers for (attic) walls/floors
  merged_schema/HPXMLMerged.xsd
  schemas/HPXMLBaseElements.xsd
  schemas/HPXMLDataTypes.xsd
Labels: enhancement, schemas, breaking change, merge
